h1 {
    font-size: 1.25em !important;
    text-decoration: none !important;
    margin-bottom: 1em !important;
}

h2, h3 {
    font-size: 1.15em !important;
    font-style: normal !important;
    margin-bottom: 1em !important;
}

p, blockquote, code, pre, ul, ol {
    margin-bottom: 1em !important;
}

code {
    font-style: normal !important;
}

pre {
    border: 1px dotted #999;
}

.ql-toolbar, .ql-container, #text_editor {
    width: 800px;
}

.ql-container, #text_editor {
    font-size: 1em !important;
    height: 80vh;
}
