body {
  margin: 1em 1em;
  background-color: #98ece8; /* f8e8e8 e8fce8 c1e7f8 fddde6 ace1af fddde6 */
}

textArea, select, button, span {
  background-color: #ffffe8; /* fffacd d0f0c0 fffacd f0fff0  */
  color: #424242;
}

body, textarea, select, button {
    font-family: 'Computer Modern Concrete', 'Computer Modern Serif', 'C059', 'Palatino', 'Garamond', 'Bookman', serif;
    font-size: 14pt;
}

#jsProgram { height: 90vh; width: 95vw; }

#statusText { display: inline-block; border: 1px dotted black; padding: 2px; width: 75px; }
