:focus {
	outline: 1px solid #999;
}

:root {
	--font-family:
		'Computer Modern Concrete', 'Computer Modern Serif', 'C059',
		'Times New Roman', 'Palatino', 'Garamond', 'Bookman', serif;
	--font-size: 1em;
	--body-colour: #98ece8; /* f8e8e8 e8fce8 c1e7f8 fddde6 ace1af fddde6 */
	--fragment-colour: #ffdfe8; /* fddde6 */
	--paper-colour: #ffffe8; /* fffacd d0f0c0 fffacd f0fff0  */
	--program-colour: #f0fff0;
	--text-colour: #424242;
}

body {
	margin: 1em 1em;
	background-color: var(--body-colour);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

button, select {
	border: 0px;
}

code {
	font-family: var(--font-family);
}

h1, h2, button, select {
	font-size: 100%;
}

p > code {
	font-style: italic;
}

p, select, button, div.documentContainer {
	background-color: var(--paper-colour);
	color: var(--text-colour);
	font-family: var(--font-family);
}

pre {
	font-family: var(--font-family);
	tab-size: 8ch;
}

#documentText {
	margin: 2em;
}

#documentText:focus, #programText:focus {
	outline: 0px;
}

#statusText {
	background-color: var(--paper-colour);
	border: 1px dotted #666;
	display: inline-block;
	width: 75px;
}

div.documentContainer pre {
	background-color: var(--fragment-colour);
	padding: 1ch;
}

div.menuContainer, div.programContainer, div.documentContainer {
	margin-bottom: 1em;
}

div.programContainer, div.documentContainer {
	flex-basis: 50ch;
	height: 85vh;
	margin-right: 2em;
	overflow: auto;
}

div.programContainer {
	flex-grow: 1;
	background-color: var(--program-colour);
	color: var(--text-colour);
}

div.documentContainer {
	flex-grow: 0;
}

div.programContainer pre {
	margin: 3em;
}

div.textContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	resize: both;
	width: 90%;
}
