:root {
	--font-family: 'Computer Modern Concrete', 'Computer Modern Serif', 'C059', 'Times New Roman', 'Palatino', 'Garamond', 'Bookman', serif;
	--body-colour: #98ece8; /* f8e8e8 e8fce8 c1e7f8 fddde6 ace1af fddde6 */
	--paper-colour: #ffffe8; /* fffacd d0f0c0 fffacd f0fff0  */
	--text-colour: #424242;
	--fragment-colour: #fddde6;
	--program-colour: #f0fff0;
}

body {
	margin: 1em 1em;
	background-color: var(--body-colour);
	font-family: var(--font-family);
}

h1, h2 {
	font-size: 1em;
}

code {
	font-family: var(--font-family);
}

pre {
	font-family: var(--font-family);
	tab-size: 4;
}

p, select, button, div.documentContainer {
	font-family: var(--font-family);
	color: var(--text-colour);
	background-color: var(--paper-colour);
}

div.programContainer {
	background-color: var(--program-colour);
	color: var(--text-colour);
}

div#documentText pre {
	background-color: var(--fragment-colour);
	padding: 1em 2em
}

button, select, #statusText {
	border: 0px;
}

:focus {
	outline: 1px solid #999;
}

div.textContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	resize: both;
	overflow: auto;
	height: 85vh;
	width: 85%;
}

#documentText:focus, #programText:focus {
	outline: 0px;
}

div.documentContainer, div.programContainer {
	font-size: 0.9em;
	margin-right: 2em;
	flex-grow: 1;
	flex-basis: 30em;
}

#documentText {
	margin: 2em;
}

div.programContainer pre {
	margin: 3em;
}

div.menuContainer, div.documentContainer, div.programContainer {
	margin-bottom: 1em;
}

#statusText {
	background-color: var(--paper-colour);
	font-size: 0.9em;
	display: inline-block;
	width: 75px;
	border: 1px dotted #666;
}
