:root {
	--font-family: 'Parc Place', 'APL333', 'Computer Modern Concrete', 'Computer Modern Serif', 'C059', 'Times New Roman', 'Palatino', 'Garamond', 'Bookman', serif;
}

h1 {
	text-decoration: underline;
}

hr {
	margin-left: 1em;
	margin-right: 6em;
}

select {
	width: 100%;
	overflow-y: auto;
}

div.framePane {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	resize: both;
	overflow: auto;
	opacity: 90%;
	z-index: 0;
}

div.Menu {
}

div.ColumnBrowser {
	width: 50em;
	height: 25em;
}

div.TextEditor {
	width: 50em;
	height: 25em;
}

div.menuPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 10em;
}

div.listPane {
	font-family: var(--font-family);
	color: var(--text-colour);
	background-color: var(--paper-colour);
	font-size: 0.9em;
	display: flex;
	flex-grow: 1;
	margin: 2px;
}

div.listPane ul {
	padding-left: 0;
	list-style-type: none;
}

div.listPane ul li {
	cursor: default;
}

div.listPane ul li:hover {
	background-color: #ccc;
}

div.browserPane {
	/* background-color: var(--program-colour); */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	overflow: auto;
}

div.titlePane, div.editorPane, div.statusPane {
	font-family: var(--font-family);
	color: var(--text-colour);
	background-color: var(--paper-colour);
	font-size: 0.9em;
	margin-right: 2em;
}

div.titlePane, div.statusPane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 2px;
}

div.titlePane pre, div.statusPane pre {
	max-height: 1.5em;
	min-height: 1em;
	margin: 0;
	padding: 0;
}

div.titlePane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 2px;
}

div.columnsPane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin: 2px;
}

div.columnsPane select {
	flex-basis: 6em;
	margin: 1px;
}

div.editorPane {
	display: flex;
	flex-grow: 4;
	flex-basis: 6em;
	margin: 2px;
	overflow-y: auto;
}

div.editorPane > div, div.editorPane > pre {
}

div.editorPane > div {
	margin: 1em;
}

div.editorPane > div > pre {
	background-color: var(--fragment-colour);
	padding: 1em 1em
}

div.editorPane :focus {
	outline: 0px;
}
