@font-face {
	font-family: "APL2741";
	src: url("../woff2/Apl2741.woff2");
}

@font-face {
	font-family: "APL333";
	src: url("../woff2/APL333.woff2");
}

@font-face {
	font-family: "Los Altos";
	src: url("../woff2/Los Altos.woff2");
}

@font-face {
	font-family: "Parc Place";
	src: url("../woff2/Parc Place.woff2");
}

:root {
	--font-family: 'Parc Place', 'Los Altos', 'APL333';
	--when-selected-background-colour: #fbf6d9;
}

h1 {
}

hr {
	margin: 1em 6em 0em 3em;
}

select {
	font-family: var(--font-family);
	font-size: var(--font-size);
	width: 100%;
	overflow-y: auto;
}

dialog {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#smallKansas {
	font-size: var(--font-size);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.framePane {
	min-width: 9em;
	min-height: 3em;
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	resize: both;
	overflow: auto;
	opacity: 90%;
	z-index: 0;
	background-color: #ffeecc; /* #fffacd #fbf6d9 #fada5e var(--fragment-colour) #f4c2c2 #b0e0e6 #afdbf5 rgba(208, 240, 192, 0.75) #d0f0c0 #ace1af */
	padding: 0px; /* 0px 2px 2px 2px */

}

.ColumnBrowser {
	width: 35em;
	height: 25em;
}

.TextEditor {
	width: 40em;
	height: 20em;
}

.SmallKansas {
	background-color: #aadd99;
}


.HelpBrowser, .HelpFor {
	background-color: #99eecc;
}


.ProgramBrowser {
	background-color: #88ccff; /* #bbddff */
}

.MethodBrowser, .MethodSignatureBrowser {
	background-color: #ffcc55;
}

.Clock {
	background-color: #eeff99;
	flex-basis: 6em;
}

.Workspace, .TableViewer {
	background-color: #ff9999;
}

.Menu {
	background-color: #bbeeff; /* #88ccff #bbeeff */
	padding: 0px;
}

.TypeBrowser, .TraitBrowser, .SystemBrowser, .CategoryBrowser {
	background-color: #ffee77;
}

.MidiPortBrowser {
	background-color: #99f499;
}

.PngViewer, .SvgViewer {
	background-color: #aaffee;
}

.menuPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
}

.listPane, .tablePane {
	font-family: var(--font-family);
	background-color: var(--paper-colour);
	color: var(--text-colour);
	display: flex;
	flex-grow: 1;
	margin: 0px;
}

.listPane ul {
	padding-left: 0;
	list-style-type: none;
}

.listPane ul li {
	cursor: default;
}

.listPane ul li:hover, .listPane select option:hover {
	background-color: var(--when-selected-background-colour);
}

option:checked, option:active, option:focus, option:focus-visible {
	background-color: var(--when-selected-background-colour);
}

.browserPane {
	/* background-color: var(--program-colour); */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	row-gap: 2px;
	overflow: auto;
	padding: 0px 2px 2px 2px;
}

.titlePane, .editorPane, .statusPane, .statusText, .filterText, .tablePane {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--text-colour);
	background-color: var(--paper-colour);
}

.titlePane, .statusPane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 0px;
}

.titlePane span, .statusPane span {
	max-height: 1.5em;
	min-height: 1em;
	margin: 0px 4px 0px 0px;
	padding: 0px 0px;
}

.titlePane {
	background-color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	cursor: default;
}

.titleText {
	flex-grow: 1;
}

.editorText {
	width: 100vw;
	min-height: 1em;
	overflow: auto;
	margin: 0px;
}

.closeButton, .menuButton {
	margin: 0px 2px 0px 0px;
	padding: 0px 2px 0px 0px;
	flex-grow: 0;
}

.menuButton {
}

.closeButton:hover, .menuButton:hover {
	background-color: var(--when-selected-background-colour);
}

.columnsPane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	column-gap: 2px;
	margin: 0px;
}

.columnsPane .column, .columnsPane select {
	flex-basis: 6em;
	margin: 0px;
}

.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	row-gap: 2px;
	margin: 0px;
	padding: 0px;
}

.filterText {
	border: 0px;
	margin: 0px
	width: 100%;
}

.editorPane {
	display: flex;
	flex-grow: 3;
	flex-basis: 6em;
	margin: 0px;
	padding: 2px;
	overflow-y: auto;
}

.editorPane > div {
	margin: 0px;
}

.editorPane > div > pre {
	background-color: var(--fragment-colour);
	padding: 1em 1em;
	margin: 0em 1em;
}

.editorPane :focus {
	outline: 0px;
}
