@font-face {
	font-family: "APL2741";
	src: url("../woff2/Apl2741.woff2");
}

@font-face {
	font-family: "APL333";
	src: url("../woff2/APL333.woff2");
}

@font-face {
	font-family: "Los Altos";
	src: url("../woff2/Los Altos.woff2");
}

@font-face {
	font-family: "Parc Place";
	src: url("../woff2/Parc Place.woff2");
}

:root {
	--font-family: 'Parc Place', 'Los Altos', 'APL333';
	--when-selected-background-colour: #fbf6d9;
}

h1 {
}

hr {
	margin-left: 1em;
	margin-right: 6em;
}

select {
	width: 100%;
	overflow-y: auto;
}

dialog {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#smallKansas {
	font-size: var(--font-size);
	width: 97.5vw;
	height: 97.5vh;
}

.framePane {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	resize: both;
	overflow: auto;
	opacity: 90%;
	z-index: 0;
}

.Menu {
}

.ColumnBrowser {
	width: 35em;
	height: 25em;
}

.TextEditor {
	width: 40em;
	height: 20em;
}

.menuPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
}

.listPane {
	font-family: var(--font-family);
	color: var(--text-colour);
	background-color: var(--paper-colour);
	display: flex;
	flex-grow: 1;
	margin: 2px;
}

.listPane ul {
	padding-left: 0;
	list-style-type: none;
}

.listPane ul li {
	cursor: default;
}

.listPane ul li:hover {
	background-color: var(--when-selected-background-colour);
}

select > option:checked {
	background-color: var(--when-selected-background-colour);
}

.browserPane {
	/* background-color: var(--program-colour); */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	overflow: auto;
}

.titlePane, .editorPane, .statusPane {
	font-family: var(--font-family);
	color: var(--text-colour);
	background-color: var(--paper-colour);
	margin-right: 2em;
}

.titlePane, .statusPane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 2px;
}

.titlePane pre, .statusPane pre {
	max-height: 1.5em;
	min-height: 1em;
	margin: 0 4px 0 0;
	padding: 0 0;
}

.titlePane {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-basis: 1em;
	margin: 2px;
	cursor: default;
}

.closeButton {
	margin-right: 2px;
	padding-right: 2px;
}

.closeButton:hover {
	background-color: var(--when-selected-background-colour);
}

.columnsPane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin: 2px;
}

.columnsPane select {
	flex-basis: 6em;
	margin: 1px;
}

.editorPane {
	display: flex;
	flex-grow: 4;
	flex-basis: 6em;
	margin: 2px;
	overflow-y: auto;
}

.editorPane > div, .editorPane > pre {
}

.editorPane > div {
	margin: 1em;
}

.editorPane > div > pre {
	background-color: var(--fragment-colour);
	padding: 1em 1em
}

.editorPane :focus {
	outline: 0px;
}
