@font-face {
	font-family: 'APL2741';
	src: url('../woff2/APL 2741.woff2');
}

@font-face {
	font-family: 'APL333';
	src: url('../woff2/APL 333.woff2');
}

@font-face {
	font-family: 'APL385 Unicode';
	src: url('../woff2/APL 385.woff2');
}

@font-face {
	font-family: 'APL386 Unicode';
	src: url('../woff2/APL 386.woff2');
}

@font-face {
	font-family: 'Los Altos';
	src: url('../woff2/Los Altos.woff2');
}

@font-face {
	font-family: 'Monaco';
	src: url('../woff2/Monaco.woff2');
}

@font-face {
	font-family: 'Neo Euler';
	src: url('../woff2/Neo Euler.woff2');
}

@font-face {
	font-family: 'Parc Place';
	src: url('../woff2/Parc Place.woff2');
}

@font-face {
	font-family: 'Computer Modern';
	src: url('../woff2/Computer Modern.woff2');
}

@font-face {
	font-family: 'Virtue';
	src: url('../woff2/Virtue.woff2');
}

:root {
	--font-family: 'Computer Modern', 'Parc Place', 'APL 333', serif;
	--small-kansas-filter: none; /* grayscale(100%) brightness(125%) | none */
	--small-kansas-colour: #aadd99;
	--help-colour: #99eecc;
	--package-colour: #77eeee;
	--supercollider-colour: #88ccff; /* #88ccff | #bbddff */
	--method-colour: #ffcc55;
	--clock-colour: #eeff99;
	--program-colour: #ff7777;
	--menu-colour: #bbeeff; /* #88ccff | #bbeeff */
	--system-colour: #ffee77;
	--tuning-colour: #99f499;
	--midi-colour: #99f499;
	--image-colour: #aaffee;
	--chemistry-colour: #ffddff;
	--ink-colour: #424242; /* #424242 | #202020 */
	--program-body-colour: cornsilk;
	--program-answer-colour: lightgoldenrodyellow;
	--program-expected-answer-colour: palegoldenrod;
	--when-selected-background-colour: #fbf6d9;
	--kansan-border-colour: rgba(0.5, 0.5, 0.5, 0.1); /* α = 0.1 | 1 */
	--kansan-border-width: 1px; /* 1px | 2px */
}

code {
	font-style: italic;
}

dialog {
	position: absolute;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}

h1 {}

hr {
	margin: 1em 6em 0em 3em;
}

html {
	filter: var(--small-kansas-filter);
}

option:checked, option:active, option:focus, option:focus-visible {
	background-color: var(--when-selected-background-colour);
}

pre code {
	font-style: normal;
}

select {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--ink-colour);
	width: 100%;
	overflow-y: auto;
}

textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

#smallKansas {
	font-size: var(--font-size);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.framePane {
	min-width: 9em;
	min-height: 3em;
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	resize: both;
	overflow-x: auto;
	overflow-y: hidden;
	opacity: 90%;
	z-index: 0;
	background-color: #ffeecc; /* #fffacd #fbf6d9 #fada5e var(--fragment-colour) #f4c2c2 #b0e0e6 #afdbf5 rgba(208, 240, 192, 0.75) #d0f0c0 #ace1af */
	padding: 0px; /* 0px 2px 2px 2px */
}

.helpFileViewerPane {
	overflow-y: auto;
}

.svgPane {
	overflow: auto;
}

.menuPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
}

.listPane, .listChooserPane, .tablePane {
	font-family: var(--font-family);
	background-color: var(--paper-colour);
	color: var(--ink-colour);
	display: flex;
	flex-grow: 1;
	margin: 0px;
}

.listChooserPane > button {
	text-align: left;
}

.listPane ul {
	padding-left: 0;
	list-style-type: none;
}

.listPane ul li {
	cursor: default;
}

.listPane ul li:hover, .listPane select option:hover {
	background-color: var(--when-selected-background-colour);
}

.browserPane {
	/* background-color: var(--program-colour); */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	row-gap: 2px;
	overflow: hidden;
	padding: 0px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
}

.previewPane {
	display: flex;
	flex-grow: 4;
	flex-basis: 6em;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
}

.titlePane, .editorPane, .statusPane, .statusText, .filterText, .tablePane {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--ink-colour);
	background-color: var(--paper-colour);
}

.titlePane, .browserPane {}

.framePane, .listChooserPane, .previewPane {
	border-width: var(--kansan-border-width);
	border-style: solid;
	border-color: var(--kansan-border-colour);
}

.titlePane, .statusPane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 0px;
}

.titlePane span, .statusPane span {
	max-height: 1.5em;
	min-height: 1em;
	margin: 0px 4px 0px 0px;
	padding: 0px 0px;
}

.titlePane {
	background-color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	cursor: default;
}

.titleText {
	flex-grow: 1;
}

.editorText {
	width: 100%;
	height: 100%;
	min-height: 1em;
	overflow: auto;
	margin: 0.25em;
}

.closeButton, .menuButton {
	margin: 0px 2px 0px 0px;
	padding: 0px 2px 0px 0px;
	flex-grow: 0;
}

.menuButton {}

.closeButton:hover, .menuButton:hover {
	background-color: var(--when-selected-background-colour);
}

.columnsPane, .inspectorPane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	column-gap: 2px;
	margin: 0px 0px 0px 0px;
}

.columnsPane .column, .columnsPane select, .inspectorPane select {
	flex-basis: 6em;
	margin: 0px;
}

.listChooserPane {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 2px;
	margin: 0px;
	padding: 0px;
}

.listChooserPane > select {
	flex-grow: 1;
	padding: 0.15em;
}

.filterText {
	border-width: 0px;
	margin: 0px;
	width: 100%;
}

.editorPane {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.editorPane > div {
	margin: 0px;
}

.editorPane > div > pre {
	background-color: var(--fragment-colour);
	padding: 1em 1em;
	margin: 0em 1em;
}

.editorPane :focus {
	outline: 0px;
}

.notebookPane {
	background-color: var(--paper-colour);
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
}

.notebookSummary {
	background-color: lightskyblue;
	width: 3em;
	margin-bottom: 2.5px;
}

.smallProgram {
	background-color: var(--paper-colour);
	height: 100%;
	padding: 5px;
}

.smallProgram .program {
	background-color: var(--program-body-colour);
	width: 94%;
}

.smallProgram .answer {
	width: 95%;
}

.smallProgram .expectedAnswer, .smallProgram .answer .answerText {
	margin: 0 0 2.5px 0;
}

.smallProgram .answer .answerText {
	background-color: var(--program-answer-colour);
	padding: 2.5px;
	border-width: 1px;
	border-style: dotted;
}

.smallProgram .expectedAnswer {
	background-color: var(--program-expected-answer-colour);
}

.ColumnBrowser {
	width: 35em;
	height: 25em;
}

.AnalogueClock, .DigitalClock, .DigitalClock > .editorPane {
	background-color: var(--clock-colour);
	overflow: hidden;
}

.CrystalLatticeStructureBrowser {
	background-color: var(--chemistry-colour);
}

.HelpBrowser, .HelpFileViewer, .HelpTextViewer {
	background-color: var(--help-colour);
}

.HelpFileViewer {
	width: 35em;
	height: 50em;
}

.ImageViewer, .SvgViewer {
	background-color: var(--image-colour);
}

.Inspector {
	width: 25em;
	height: 15em;
}

.Menu {
	background-color: var(--menu-colour);
	padding: 0px;
}

.MethodBrowser, .MethodSignatureBrowser {
	background-color: var(--method-colour);
}

.MidiPortBrowser {
	background-color: var(--midi-colour);
}

.Notebook,
.TableViewer,
.Inspector,
.SmallProgram,
.TranscriptViewer,
.Workspace {
	background-color: var(--program-colour);
}

.Notebook, .SmallProgram, .TextEditor, .TranscriptViewer {
	width: 40em;
	height: 20em;
}

.PackageBrowser, .PackageIndexBrowser {
	background-color: var(--package-colour);
}

.ScalaJiTuningBrowser td, .ScalaJiMetaBrowser td {
	padding-right: 2em;
}

.SuperColliderProgramBrowser, .SuperColliderSynthesiserStatusMonitor {
	background-color: var(--supercollider-colour);
}

.SuperColliderProgramBrowser {
	width: 50em;
	height: 25em;
}

.SmallKansas, .ColourChooser {
	background-color: var(--small-kansas-colour);
}

.TypeBrowser, .TraitBrowser, .SystemBrowser, .CategoryBrowser {
	background-color: var(--system-colour);
}

.ScalaJiTuningBrowser, .ScalaJiMetaBrowser, .ScalaScaleBrowser {
	background-color: var(--tuning-colour);
}
