@font-face {
	font-family: "APL2741";
	src: url("../woff2/Apl2741.woff2");
}

@font-face {
	font-family: "APL333";
	src: url("../woff2/APL333.woff2");
}

@font-face {
	font-family: "Los Altos";
	src: url("../woff2/Los Altos.woff2");
}

@font-face {
	font-family: "Monaco";
	src: url("../woff2/Monaco.woff2");
}

@font-face {
	font-family: "Neo Euler";
	src: url("../woff2/Neo Euler.woff2");
}

@font-face {
	font-family: "Parc Place";
	src: url("../woff2/Parc Place.woff2");
}

:root {
	--font-family: 'Parc Place', 'Los Altos', 'APL333';
	--when-selected-background-colour: #fbf6d9;
}

h1 {
}

hr {
	margin: 1em 6em 0em 3em;
}

select {
	font-family: var(--font-family);
	font-size: var(--font-size);
	width: 100%;
	overflow-y: auto;
}

dialog {
	position: absolute;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

textarea {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

code {
	font-style: italic;
}

pre code {
	font-style: normal;
}

#smallKansas {
	font-size: var(--font-size);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.framePane {
	min-width: 9em;
	min-height: 3em;
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	resize: both;
	overflow-x: auto;
	overflow-y: hidden;
	opacity: 90%;
	z-index: 0;
	background-color: #ffeecc; /* #fffacd #fbf6d9 #fada5e var(--fragment-colour) #f4c2c2 #b0e0e6 #afdbf5 rgba(208, 240, 192, 0.75) #d0f0c0 #ace1af */
	padding: 0px; /* 0px 2px 2px 2px */

}

.ColumnBrowser {
	width: 35em;
	height: 25em;
}

.Inspector {
	width: 25em;
	height: 15em;
}

.Notebook, .SmallProgram, .TextEditor, .TranscriptViewer {
	width: 40em;
	height: 20em;
}

.SmallKansas, .ColourChooser {
	background-color: #aadd99;
}

.HelpBrowser, .HelpViewer {
	background-color: #99eecc;
}


.PackageBrowser, .PackageIndexBrowser {
	background-color: #77eeee;
}

.ScProgramBrowser, .ScSynthStatusMonitor {
	background-color: #88ccff; /* #bbddff */
}

.ScProgramBrowser {
	width: 50em;
	height: 25em;
}

.MethodBrowser, .MethodSignatureBrowser {
	background-color: #ffcc55;
}

.DigitalClock, .DigitalClock > .editorPane, .AnalogueClock {
	background-color: #eeff99;
}

.Notebook, .SmallProgram, .Workspace, .TableViewer, .Inspector, .TranscriptViewer {
	background-color: #ff7777;
}

.Menu {
	background-color: #bbeeff; /* #88ccff #bbeeff */
	padding: 0px;
}

.TypeBrowser, .TraitBrowser, .SystemBrowser, .CategoryBrowser {
	background-color: #ffee77;
}

.MidiPortBrowser, .ScalaJiTuningBrowser, .ScalaJiMetaBrowser {
	background-color: #99f499;
}

.PngViewer, .SvgViewer {
	background-color: #aaffee;
}

.CrystalLatticeStructureBrowser {
	background-color: #ffddff;
}

.svgPane {
	overflow: auto;
}

.ScalaJiTuningBrowser td, .ScalaJiMetaBrowser td {
	padding-right: 2em;
}

.menuPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
}

.listPane, .listChooserPane, .tablePane {
	font-family: var(--font-family);
	background-color: var(--paper-colour);
	color: var(--text-colour);
	display: flex;
	flex-grow: 1;
	margin: 0px;
}

.listChooserPane > button {
	text-align: left;
}

.listPane ul {
	padding-left: 0;
	list-style-type: none;
}

.listPane ul li {
	cursor: default;
}

.listPane ul li:hover, .listPane select option:hover {
	background-color: var(--when-selected-background-colour);
}

option:checked, option:active, option:focus, option:focus-visible {
	background-color: var(--when-selected-background-colour);
}

.browserPane {
	/* background-color: var(--program-colour); */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	row-gap: 2px;
	overflow: auto;
	padding: 0px 2px 2px 2px;
}

.previewPane {
	display: flex;
	flex-grow: 4;
	flex-basis: 6em;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
}

.titlePane, .editorPane, .statusPane, .statusText, .filterText, .tablePane {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--text-colour);
	background-color: var(--paper-colour);
}

.titlePane, .statusPane {
	flex-grow: 0;
	flex-basis: 1em;
	margin: 0px;
}

.titlePane span, .statusPane span {
	max-height: 1.5em;
	min-height: 1em;
	margin: 0px 4px 0px 0px;
	padding: 0px 0px;
}

.titlePane {
	background-color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	cursor: default;
}

.titleText {
	flex-grow: 1;
}

.editorText {
	width: 100%;
	height: 100%;
	min-height: 1em;
	overflow: auto;
	margin: 0px;
}

.closeButton, .menuButton {
	margin: 0px 2px 0px 0px;
	padding: 0px 2px 0px 0px;
	flex-grow: 0;
}

.menuButton {
}

.closeButton:hover, .menuButton:hover {
	background-color: var(--when-selected-background-colour);
}

.columnsPane, .inspectorPane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	column-gap: 2px;
	margin: 0px;
}

.columnsPane .column, .columnsPane select, .inspectorPane select {
	flex-basis: 6em;
	margin: 0px;
}

.listChooserPane {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 2px;
	margin: 0px;
	padding: 0px;
}

.listChooserPane > select {
	flex-grow: 1
}

.filterText {
	border: 0px;
	margin: 0px
	width: 100%;
}

.editorPane {
	width: 100%;
	height: 100%;
}

.editorPane > div {
	margin: 0px;
}

.editorPane > div > pre {
	background-color: var(--fragment-colour);
	padding: 1em 1em;
	margin: 0em 1em;
}

.editorPane :focus {
	outline: 0px;
}

.notebookPane {
	background-color: var(--paper-colour);
    height: 100%;
	padding: 10px;
    overflow-y: scroll;
}

.notebookSummary {
	background-color: lightskyblue;
	width: 3em;
    margin-bottom: 2.5px;
}

.smallProgram {
	background-color: var(--paper-colour);
	height: 100%;
	padding: 5px;
}

.smallProgram .program {
    background-color: cornsilk;
	width: 94%;
}

.smallProgram .answer {
	width: 95%;
}

.smallProgram .answer .answerText {
	background-color: lightgoldenrodyellow;
	margin: 0 0 2.5px 0;
	border: 1px dotted;
	padding: 2.5px;
}
