/* www-rd/css/Spl.css */

table.TableData {
	min-width: 50%;
	text-align: right;
	border-collapse: collapse;
}

table.TableData th {
	background-color: rgb(210, 210, 210, 0.25);
	font-weight: normal;
	font-size: smaller;
}

table.TableData tr :is(th, td) {
	padding-right: 4px;
	border: 1px solid grey;
}
