@import "sc3.css";

h1, h2, h3 {
	text-decoration: none;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.15em;
}

h2, h2 {
	font-size: 1em;
}

code {
	background-color: var(--program-colour);
}

a, a:visited {
	color: var(--text-colour);
}

#documentContainer {
	position: static;
	font-size: 1em;
	width: 65vw;
	max-width: 45em;
}
