@import 'SmallHours.css';

h1, h2, h3 {
	text-decoration: none;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.15em;
}

h2 {
	font-size: 1em;
}

pre {
	background-color: var(--fragment-colour);
	display: block;
	white-space: pre;
	width: 100%;
}

a, a:visited {
	color: var(--text-colour);
}

#documentContainer {
	background-color: var(--paper-colour);
	font-size: 1em;
	max-width: 45em;
}
