<option value="">--Help--</option>
<option value="Adsr.1">Adsr.1</option>
<option value="Adsr.2">Adsr.2</option>
<option value="Asr.1">Asr.1</option>
<option value="Asr.2">Asr.2</option>
<option value="ArrayFill.1">ArrayFill.1</option>
<option value="Balance2.1">Balance2.1</option>
<option value="Balance2.2">Balance2.2</option>
<option value="Blip.1">Blip.1</option>
<option value="Blip.2">Blip.2</option>
<option value="Cc.1">Cc.1</option>
<option value="CombC.1">CombC.1</option>
<option value="CombC.2">CombC.2</option>
<option value="Comment.1">Comment.1</option>
<option value="Decay2.1">Decay2.1</option>
<option value="DegreeToKey.1">DegreeToKey.1</option>
<option value="ExpRand.1">ExpRand.1</option>
<option value="FBSineC.1">FBSineC.1</option>
<option value="Formant.1">Formant.1</option>
<option value="FreqShift.1">FreqShift.1</option>
<option value="Gendy1.1">Gendy1.1</option>
<option value="Impulse.1">Impulse.1</option>
<option value="Impulse.2">Impulse.2</option>
<option value="Impulse.3">Impulse.3</option>
<option value="Lag.1">Lag.1</option>
<option value="Latch.1">Latch.1</option>
<option value="Latch.2">Latch.2</option>
<option value="LFNoise0.1">LFNoise0.1</option>
<option value="LFNoise1.1">LFNoise1.1</option>
<option value="LFNoise1.2">LFNoise1.2</option>
<option value="LFSaw.1">LFSaw.1</option>
<option value="LFSaw.2">LFSaw.2</option>
<option value="Ln.1">Ln.1</option>
<option value="LocalIn.1">LocalIn.1</option>
<option value="LocalOut.1">LocalOut.1</option>
<option value="LocalOut.2">LocalOut.2</option>
<option value="MouseX.1">MouseX.1</option>
<option value="OverlapTexture.1">OverlapTexture.1</option>
<option value="Pan2.1">Pan2.1</option>
<option value="Play.1">Play.1</option>
<option value="Pluck.1">Pluck.1</option>
<option value="PMOsc.1">PMOsc.1</option>
<option value="PMOsc.2">PMOsc.2</option>
<option value="PMOsc.3">PMOsc.3</option>
<option value="Pulse.1">Pulse.1</option>
<option value="PulseCount.1">PulseCount.1</option>
<option value="RingzBank.1">RingzBank.1</option>
<option value="Seq.1">Seq.1</option>
<option value="Seq.2">Seq.2</option>
<option value="SfRead.1">SfRead.1</option>
<option value="SfRead.2">SfRead.2</option>
<option value="SinOsc.1">SinOsc.1</option>
<option value="SinOsc.2">SinOsc.2</option>
<option value="SinOsc.3">SinOsc.3</option>
<option value="Stepper.1">Stepper.1</option>
<option value="Stepper.2">Stepper.2</option>
<option value="Sw.1">Sw.1</option>
<option value="Sw.2">Sw.2</option>
<option value="TChoose.1">TChoose.1</option>
<option value="TRand.1">TRand.1</option>
<option value="TRand.2">TRand.2</option>
<option value="TScramble.1">TScramble.1</option>
<option value="TScramble.2">TScramble.2</option>
<option value="VarSaw.1">VarSaw.1</option>
<option value="Voicer.1">Voicer.1</option>
<option value="Voicer.2">Voicer.2</option>
<option value="Voicer.3">Voicer.3</option>
<option value="VoiceWriter.1">VoiceWriter.1</option>
<option value="XFade2.1">XFade2.1</option>
<option value="XLn.1">XLn.1</option>
